:root{
    --mainColor: #29335C;
    --mainColorLight: #495aa1;
    --secondaryColor: #DB2B39;
    --textColor:#eee;
}

.page-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin:auto
}

div > ul{
    margin-top: 1rem;
}

.input-wrapper{
    text-align: center;
    padding: 1.5rem;
}

input {
    width: 80%;
    max-width: 1000px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColor);
    font-size: 1.25rem;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:0px;
}

.add-grid{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.btn-more {
    max-width: 100px;
    margin-bottom: 2rem;
}