:root{
    --mainColor: #29335C;
    --mainColorLight: #495aa1;
    --secondaryColor: #DB2B39;
    --textColor:#eee;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

div > ul{
    margin-top: 1rem;
}

.input-wrapper{
    text-align: center;
    padding: 1.5rem;
}

input {
    width: 80%;
    max-width: 1000px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColor);
    font-size: 1.25rem;
}
