@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    background:#29335C;;
}

.brand, .navlist{
    color:#eee !important;
}

.navlist:hover{
    color:tomato !important;
}

// .btn-signup{
//     background:#2bdb9d;
// }

button.navbar-toggler.collapsed{
    background-color: #374479;
}

button.navbar-toggler{
    background-color: #374479;
}